/* Author:  Michael Galarneau                                                  */
/* Class:  UNH Bootcamp                                                        */
/* Assignment:  Responsiveness Assignment                                      */
/* Date:  09/22/2018                                                           */
/*                                                                             */                  
/* File:  about.css                                                            */
/* Description:  Manage the style elements  specific to the About page         */

/*******************************/
/*  About Page Specific Styles */
/*******************************/

/* Biography Picture - float pic, rounded corners */
#biopic {
    border: 1px solid #ddd;
    border-radius: 25px;
}

/* Duck Picture - float pic, rounded corners, */
#duckpic {
    border: 1px solid #ddd;
    border-radius: 25px;
}