/* Author:  Michael Galarneau                                                  */
/* Class:  UNH Bootcamp                                                        */
/* Assignment:  Responsiveness Assignment                                      */
/* Date:  09/22/2018                                                           */
/*                                                                       */
/* File:  contact.css                                                    */
/* Description:  Manage the style elements specific to the Contact page  */

/*********************************/
/*  Contact Page Specific Styles */
/*********************************/

/* Submit button - flat look with rounded corners */
.btn-primary {
    border: 0;
    background-color: #4aaaa5;
    color: white;
    border-radius: 10px;
}
