/* Author:  Michael Galarneau                                                  */
/* Class:  UNH Bootcamp                                                        */
/* Assignment:  Responsiveness Assignment                                      */
/* Date:  09/22/2018                                                           */
/*                                                                             */
/* File:  contact.css                                                          */
/* Description:  Manage the style elements specific to the Portfolio page      */

/***********************************/
/* Portfolio Page Specific Styles  */
/***********************************/

/* Floating label over the button images */
.card-title {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 198px;
    margin: 0;

    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}